[Desktop Entry]
Encoding=UTF-8
Name=Link to | Ministry of Finance | Government of Pakistan |
Type=Link
URL=http://finance.gov.pk/survey_1718.html
Icon=text-html
